.wrapper {
  display: flex;
  gap: 26px;
  padding: 24px 36px;
  justify-content: flex-start;
}

.backBtn {
  padding: 6px 24px;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 1px black;
  transition: box-shadow 350ms ease-in, border 350ms ease-in,
    color 350ms ease-in;
  &:hover,
  &:active {
    box-shadow: 2px 2px 2px aquamarine;
    border-color: aquamarine;
    color: aquamarine;
  }
}

.section {
  padding: 0 25px;
}
